<div class="pln-cnt">

    <div class="header">
      <div class="card">
        <app-card [planet]="{name: 'LIST'}"></app-card>
      </div>
      <div class="card">
        <app-card [planet]="{name: 'OF'}"></app-card>
      </div>
      <div class="card">
        <app-card [planet]="{name: 'PLANETS'}"></app-card>
      </div>
    </div>

    <div class="search-panel-cnt">
      <div class="input">
        <app-input (searchPlanet)="inputAction($event)"></app-input>
      </div>

      <div class="paginator">
        <app-paginator [length]="data?.count || 0" (onPagerAction)="pagerAction($event)"></app-paginator>
      </div>
    </div>

    <div class="cards-cnt">
      <div *ngFor="let planet of uiPlanets" class="card">
        <app-card (click)="viewPlanetDetails(planet)" [planet]="planet"></app-card>
      </div>
    </div>

</div>
