<div class="pln-details-cnt">
  <button routerLink="/" mat-raised-button>Back</button>

  <mat-card class="pln-card">
    <mat-card-header>
      <mat-card-title>{{planet?.name}}</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>Rotation period - {{planet?.rotation_period}}</li>
        <li>Diameter - {{planet?.diameter}}</li>
        <li>Climate - {{planet?.climate}}</li>
        <li>Population - {{planet?.population}}</li>
        <li>Terrain - {{planet?.terrain}}</li>
        <li>Surface water - {{planet?.surface_water}}</li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
